    /* ReadHotel.css */

    body{
        font-family: 'Montserrat', sans-serif;
    }

    .read-hotel-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 2%;
        font-size: 65%;
    }

    .hotel-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 2%;
        font-size: 50%;
    }
    
    label {
        display: block;
        margin-bottom: 10px;
    }
    
    select {
        width: 100%;
        padding: 8px;
        margin-bottom: 20px;
    }
    
    .error-message {
        color: #ff0000;
        margin-bottom: 10px;
    }
    
    ul {
        list-style: none;
        padding: 0;
    }
    
    li {
        margin-bottom: 20px;
    }
    
    strong {
        color: #007bff;
        font-size: 1.2em;
    }
    
    /* Estilos para los datos del hotel */
    li strong {
        display: block;
        color: #333;
        font-size: 1.1em;
        margin-bottom: 5px;
    }
    
    li span {
        color: #777;
    }
    