body {
  background: #cac9c9;
  min-height: 3000px;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  clear: both;
}

a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

nav {
  background: linear-gradient(to left, #445de9, #3b4453);
  height: 80px;
  line-height: 80px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.5s;

  color: #ffffff; /* Agrega esta línea para cambiar el color del texto a blanco */

  &.scrollUp {
    transform: translateY(-80px);
  }

  ul.navbar-menu {
    margin: 0;
    margin-right: 4%;
    padding: 0;
    display: inline-block;
    float: right;

    li {
      display: inline-block;
      margin: 0 10px;

      a {
        color: #ffffff;
        font-size: 14px;
      }
    }
  }

  a#brand {
    text-transform: uppercase;
    float: left;
    font-weight: 800;
    font-size: 20px;
    color: #ffffff;
    margin-left: 2%;
  }

  button {
    background: none;
    width: 30px;
    height: 40px;
    margin-top: 20px;
    border: none;
    float: right;
    display: inline-block;
    cursor: pointer;
    display: none;

    span {
      width: 30px;
      height: 40px;
      height: 2px;
      background: #333;
      display: block;
      margin: 5px 0;
    }
  }
}

@media (max-width: 768px) {
  nav ul.navbar-menu {
    display: none;
  }

  nav button {
    display: block;
  }
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  font-size: 200%;
  color: #000000;
  margin-top: -1350px;
  font-family: 'Montserrat', sans-serif;
}

.infoEmpresa {
  padding: 20px; /* Añade un espacio interno para mayor claridad */
  background-color: #f5f5f5; /* Fondo gris claro para resaltar el mensaje */
  border-radius: 10px; /* Esquinas redondeadas para un aspecto más amigable */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Sutil sombra para destacar el mensaje */
  text-align: center; /* Centra el texto */
  font-size: 18px; /* Tamaño de fuente más grande para destacar el mensaje */
  line-height: 1.5; /* Espaciado entre líneas para una mejor legibilidad */
  color: #333; /* Color de texto más oscuro para contrastar con el fondo */
  margin-top: 2%;
}

tamanio {
  max-width: 300px; /* or adjust based on your design */
}

.polaroid {
  position: relative;
  overflow: hidden;
}

.polaroid img {
  width: 100%;
  height: auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
}

.card {
  width: 80%; /* Ajusta según sea necesario */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 1rem;
}

.card-text {
  margin-bottom: 0; /* Remove default margin */
}

